<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Lieu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="place && user" >

  <ion-img src="{{ place.pictureUrl }}" alt="image lieu"></ion-img>

  <div class="header ion-padding-horizontal">
    <h1>{{ place.name }}</h1>
    <p>Voyage : {{ place.tripId }}</p>
    <div id="buttons">
      <ion-button size="small" shape="round" (click)="openModal(place)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" name="delete" (click)="delete(place)" (click)="presentToast('top')">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>

  <p class="ion-padding-horizontal" id="user">{{ user.name }}</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Description</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ place.description }}</ion-card-content>
  </ion-card>

  <div class="map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"
    [leafletLayers]="mapMarkers"></div>

</ion-content>