<ion-header>
  <ion-toolbar id="toolbar">
    <ion-title>Carte</ion-title>
    <!-- <ion-button class="btnLoc" (click)="ngOnInit()">Relocalise-moi</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="btnLoc" (click)="ngOnInit()">
    <img src="../../../assets/icon/icons8-centre-direction-24(@1x).png">
  </ion-button>
  <!-- <div class="map" leaflet [leafletOptions]="mapOptions"></div> -->
  <!-- [leafletLayers]="mapMarkers" -->
  <div class="mapGrande" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)">
  </div>
</ion-content>
