<ion-header>
  <ion-toolbar>
    <ion-title>PlacesMap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="map" leaflet [leafletOptions]="mapOptions"></div> -->
  <!-- [leafletLayers]="mapMarkers" -->
  <div
    class="mapGrande"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletLayers]="mapMarkers"
   (leafletMapReady)="onMapReady($event)"
  ></div>

  
    <ion-card *ngIf="selectedPlaces" class="selectedPlace">
      <ion-card-header>
        <ion-card-title>{{selectedPlaces.name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{selectedPlaces.description}}
      </ion-card-content>
    </ion-card>
  
  </ion-content>
