/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

#trips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trip {
  min-width: 120px;
  flex: 20%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
