<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header ion-padding-horizontal">
    <h1>Voyages</h1>
    <div id="buttons">
      <ion-button size="small" shape="round" (click)="showNewTripModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

      <ion-button size="small" shape="round">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-button (click)="takePicture()">Take picture</ion-button>
  <img *ngIf="picture" [src]="picture.url" />

  <div id="trips">
    <!-- <ion-nav-link *ngFor="let trip of trips" router-direction="forward" [component]="component"> -->
    <ion-card *ngFor="let trip of trips" class="trip" button="true" [routerLink]="['trip', trip.id]"
      routerDirection="forward">
      <ion-card-header>
        <ion-card-title>{{ trip.title }}</ion-card-title>
        <ion-card-subtitle>{{ trip.userId }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <!-- </ion-nav-link> -->
  </div>

  <div class="header ion-padding-horizontal">
    <h1>Lieux</h1>
    <div id="buttons">
      <ion-button size="small" shape="round" (click)="showNewPlaceModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div id="places">
    <ion-card *ngFor="let place of places" class="place" button="true" [routerLink]="['place', place.id]"
      routerDirection="forward">
      <img src="{{ place.pictureUrl }}" />
      <ion-card-header>
        <ion-card-title>{{ place.name }}</ion-card-title>
        <ion-card-subtitle color="primary">à 300 mètres</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{ place.description }}</ion-card-content>
    </ion-card>
  </div>

</ion-content>
