ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

#places {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.place {
  min-width: 120px;
  /* max-width: 180px; */
  flex: 30%;
}

#user {
  color: var(--ion-color-medium);
}
