<ion-content class="ion-padding">
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)"></ion-modal>
  <form #tripForm="ngForm">
    <ion-toolbar>
      <ion-title>Ajouter un voyage</ion-title>
    </ion-toolbar>
    <ion-item>
      <ion-label>Titre</ion-label>
      <ion-input type="text" placeholder="titre du voyage" name="title" min-length="3"
      max-length="100" [(ngModel)]="title" required
      #titreInput="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" placeholder="description" name="description" min-length="5"
      max-length="50000" [(ngModel)]="description" required #descriptionInput="ngModel"></ion-input>
    </ion-item>

    <p *ngIf="titreInput.invalid && titreInput.dirty">
      Veuillez saisir un titre de minimum 3 caractères.
    </p>
    <p *ngIf="descriptionInput.invalid && descriptionInput.dirty">
      Veuillez saisir une description avec au minimum avec 5 caractères.
    </p>

    <ion-button fill="outline" (click)="cancel()">Annuler</ion-button>
    <ion-button [disabled]="tripForm.invalid" type="submit" (click)="ajouter(tripForm)">Ajouter</ion-button>
  </form>
</ion-content>