<ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)"></ion-modal>

  <form #modifyPlaceForm="ngForm">
    <ion-toolbar>
      <ion-title>Modifier un lieu</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" name="name" min-length="3" max-length="100" [(ngModel)]="name"
        #nameInput="ngModel"></ion-input></ion-item> <!-- [(ngModel)]="name.content"  -->
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" name="description" min-length="5" max-length="50000" [(ngModel)]="description"
        #descriptionInput="ngModel"></ion-input></ion-item>
    <ion-item>
      <ion-label>Latitude</ion-label>
      <ion-input type="text" name="latitude" [(ngModel)]="latitude"></ion-input></ion-item>
    <ion-item>
      <ion-label>Longitude</ion-label>
      <ion-input type="text" name="longitude" [(ngModel)]="longitude"></ion-input></ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-button slot="end" (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-thumbnail *ngIf="picture" slot="start">
        <img [src]="picture.url" />
      </ion-thumbnail>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Voyage</ion-label>
        <ion-select name="tripId" [(ngModel)]="tripId">
          <ion-select-option name="tripId" *ngFor="let trip of trips" class="trip"
            value={{trip.id}}>{{trip.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button fill="outline" (click)="cancel()">Annuler</ion-button>
      <ion-button [disabled]="modifyPlaceForm.invalid" type="submit" (click)="modifier(modifyPlaceForm)"
        (click)="presentToast('top')">Modifier</ion-button>
    </div>
  </form>
</ion-content>
