<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="handleScrollStart()" (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()" class="ion-padding">
  <div *ngIf="auth.getUser$() | async as user">
    <h2>{{ user.name }}</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mes voyages</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let trip of trips">
            <ion-label>
              <h2>{{ trip.title }}</h2>
              <p>{{ trip.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>