<ion-content>
  <!-- <ng-template> -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)"></ion-modal>
  <form #placeForm="ngForm">
    <ion-toolbar>
      <ion-title>Ajouter un lieu</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" name="name" min-length="3" max-length="100" [(ngModel)]="name" required
        #nameInput="ngModel"></ion-input>
        <ion-note *ngIf="nameInput.invalid && nameInput.dirty" slot="error">Minimum 3 caractères</ion-note>
      </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" name="description" min-length="5" max-length="50000" [(ngModel)]="description" required
        #descriptionInput="ngModel"></ion-input>
        <ion-note *ngIf="descriptionInput.invalid && descriptionInput.dirty" slot="error">Minimum 5 caractères</ion-note>
      </ion-item>
    <ion-item>
      <ion-label>Latitude</ion-label>
      <ion-input type="text" name="latitude" [(ngModel)]="latitude" required></ion-input></ion-item>
    <ion-item>
      <ion-label>Longitude</ion-label>
      <ion-input type="text" name="longitude" [(ngModel)]="longitude" required></ion-input></ion-item>
    <!--  <ion-item>
      <ion-label>Coordonées du lieu : </ion-label>
      <ion-input name="location" [(ngModel)]="location">
        <ion-button (click)="getCurrentPosition()" >
          <ion-icon slot="end" slot="icon-only" name="location-sharp"></ion-icon>
        </ion-button>
      </ion-input></ion-item> -->
    <!-- <ion-input type="text" placeholder="URL de l'image" name="pictureUrl" [(ngModel)]="pictureUrl"
        #pictureUrlInput="ngModel"></ion-input></ion-item> -->
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-button slot="end" (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-thumbnail *ngIf="picture" slot="start">
        <img [src]="picture.url" />
      </ion-thumbnail>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Voyage</ion-label>
        <ion-select name="tripId" [(ngModel)]="tripId" required>
          <ion-select-option name="tripId" *ngFor="let trip of trips" class="trip"
            value={{trip.id}}>{{trip.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- <p *ngIf="nameInput.invalid && nameInput.dirty">
      Veuillez saisir un titre de minimum 3 caractères.
    </p>
    <p *ngIf="descriptionInput.invalid && descriptionInput.dirty">
      Veuillez saisir une description avec au minimum avec 5 caractères.
    </p> -->

    <div class="ion-padding">
      <ion-button fill="outline" (click)="cancel()">Annuler</ion-button>
      <ion-button [disabled]="placeForm.invalid" type="submit" (click)="ajouter(placeForm)"
        (click)="presentToast('top')">Ajouter</ion-button>
    </div>
  </form>
  <!-- </ng-template> -->
</ion-content>
